__pycache__/
*.pyc
os/build/
.pytest_cache/
os/live-build/chroot/
os/live-build/cache/
os/live-build/.build/
os/live-build/.stage/
os/live-build/*.iso
os/live-build/binary*
os/live-build/local/
build.log
chroot/
os/live-build/chroot.headers
os/live-build/chroot.packages.*
os/live-build/config/binary
os/live-build/config/bootstrap
os/live-build/config/chroot
os/live-build/config/common
os/live-build/config/source
