[Unit]
Description=JARVIS OS System Layer Service
ConditionPathExists=/usr/local/bin/jarvis-init
After=sound.target network.target local-fs.target
Wants=sound.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/jarvis-init
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
